@keyframes heartbeat-border {
    0% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
        /* green-500 glow */
        border-color: #1DB78E;
    }

    25% {
        box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.3);
        border-color: #1DB78E;
        /* lighter green */
    }

    40% {
        box-shadow: 0 0 0 6px rgba(34, 197, 94, 0);
    }

    70% {
        box-shadow: 0 0 0 4px rgba(34, 197, 94, 0.3);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(34, 197, 94, 0.7);
    }
}

.heartbeat-border {
    border: 1px solid rgb(34, 197, 94);
    animation: heartbeat-border 1.6s ease-in-out infinite;
}