 #root {
     max-width: 1280px;
     margin: 0 auto;
     padding: 2rem;
     text-align: center;
 }

 .logo {
     height: 6em;
     padding: 1.5em;
     will-change: filter;
     transition: filter 300ms;
 }

 .logo:hover {
     filter: drop-shadow(0 0 2em #646cffaa);
 }

 .logo.react:hover {
     filter: drop-shadow(0 0 2em #61dafbaa);
 }

 @keyframes logo-spin {
     from {
         transform: rotate(0deg);
     }

     to {
         transform: rotate(360deg);
     }
 }

 @media (prefers-reduced-motion: no-preference) {
     a:nth-of-type(2) .logo {
         animation: logo-spin infinite 20s linear;
     }
 }

 .card {
     padding: 2em;
 }

 .read-the-docs {
     color: #888;
 }

 @keyframes rotateText {
     0% {
         transform: translateY(0);
     }

     16.6% {
         transform: translateY(-100%);
     }

     33.2% {
         transform: translateY(-200%);
     }

     49.8% {
         transform: translateY(-300%);
     }

     66.4% {
         transform: translateY(-400%);
     }

     83% {
         transform: translateY(-500%);
     }

     100% {
         transform: translateY(0);
     }
 }

 .text-rotate {
     display: inline-block;
     overflow: hidden;
     height: 1em;
     /* adjust based on font size */
     vertical-align: bottom;
 }

 .text-rotate>span {
     display: inline-block;
     animation: rotateText 6s infinite;
 }

 .text-rotate>span>span {
     display: block;
     text-align: center;
 }